<!-- Toast Notification -->
<div
  *ngIf="showToast"
  class="fixed top-5 right-5 z-50 p-4 rounded-md shadow-lg text-white"
  [ngClass]="{
    'bg-purple-500': toastType === 'success',
    'bg-gray-400-500': toastType === 'error'
  }"
>
  {{ toastMessage }}
</div>

<!-- <div class="max-w-lg mx-auto bg-gray-100 p-6 rounded-lg shadow-md">
  <h2 class="text-2xl font-semibold mb-4 text-center">Solicitar Cita</h2>
  <form [formGroup]="citaForm" (ngSubmit)="saveCita()">
    <div class="mb-4">
      <label for="id_psicologo" class="block text-sm font-medium">Psicólogo</label>
      <select
      id="id_psicologo"
      formControlName="id_psicologo"
      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50"
    >
      <option value="" disabled selected>Selecciona un psicólogo</option>
      <option *ngFor="let psicologo of psicologos" [value]="psicologo.id_usuario">
        {{ psicologo.nombre }}
      </option>
    </select>
    </div>
    <div class="mb-4">
      <label for="id_alumno" class="block text-sm font-medium">Alumno</label>
      <input
        type="text"
        id="id_alumno"
        formControlName="id_alumno"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
        placeholder="ID del Alumno"
      />
    </div>
    <div class="mb-4">
      <label for="id_consultorio" class="block text-sm font-medium">Consultorio</label>
      <select
      id="id_consultorio"
      formControlName="id_consultorio"
      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50"
    >
      <option value="" disabled selected>Selecciona un consultorio
      <option *ngFor="let Consultorio of consultorios" [value]="Consultorio.id_consultorio">
        {{ Consultorio.nombre_consultorio}} {{Consultorio.ubicacion}}
      </option>
      </select>
    </div>
    <div class="mb-4">
      <label for="id_horario" class="block text-sm font-medium">Horario</label>
      <select
      id="id_horario"
      formControlName="id_horario"
      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50"
    >
      <option value="" disabled selected>Selecciona un horario
      <option *ngFor="let Horario of horarios" [value]="Horario.id_horario">
        {{ Horario.dia_semana}} {{Horario.hora}}
      </option>
      </select>
    </div>
    <div class="mb-4">
      <label for="motivo" class="block text-sm font-medium">Motivo</label>
      <textarea
        id="motivo"
        formControlName="motivo"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50"
        placeholder="Describe brevemente el motivo"
      ></textarea>
    </div>
    <div class="mb-4">
      <label for="correo" class="block text-sm font-medium">Correo</label>
      <input
        type="email"
        id="correo"
        formControlName="correo"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50"
        placeholder="Correo electrónico"
      />
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring"
      >
        Solicitar Cita
      </button>
    </div>
  </form>
</div> -->































<!-- Formulario de Citas -->
<!-- <div class="h-screen flex justify-center items-center bg-gray-200">
  <div class="bg-white rounded-lg shadow-xl w-full max-w-3xl p-8 space-y-6"> -->
    <!-- Encabezado -->
    <!-- <div class="text-center">
      <h1 class="text-2xl font-bold text-gray-800">Agendar una Cita</h1>
      <p class="text-sm text-gray-500">Programe su cita fácilmente con nuestros profesionales</p>
    </div> -->

    <!-- Formulario -->
    <!-- <form class="space-y-4" [formGroup]="citaForm" (ngSubmit)="saveCita()"> -->
      <!-- Campo Nombre -->
      <!-- <div>
        <label for="nombre" class="block text-sm font-medium text-gray-700">Psicólogo</label> -->
        <!-- <div class="mt-1">
          <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre completo"
            class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        </div> -->
        <!-- <select
      id="id_psicologo"
      formControlName="id_psicologo"
      class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
    >
      <option value="" disabled selected>Selecciona un psicólogo</option>
      <option *ngFor="let psicologo of psicologos" [value]="psicologo.id_usuario">
        {{ psicologo.nombre }}
      </option>
    </select>

      </div> -->

      <!-- Campo: Alumno -->
      <!-- <div>
        <label for="id_alumno" class="block text-sm font-medium text-gray-700">Alumno</label> -->
        <!-- <div class="mt-1">
          <input type="email" id="email" name="email" placeholder="Ingrese su correo"
            class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        </div> -->

        <!-- <input
        type="text"
        id="id_alumno"
        formControlName="id_alumno"
        class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        placeholder="ID del Alumno"

      />
      </div> -->



      <!-- Selección de Consultorio -->
      <!-- <div>
        <label for="fecha" class="block text-sm font-medium text-gray-700">Consultorio</label> -->
        <!-- <div class="mt-1">
          <input type="date" id="fecha" name="fecha"
            class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        </div> -->

        <!-- <select
      id="id_consultorio"
      formControlName="id_consultorio"
      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50"
    >
      <option value="" disabled selected>Selecciona un consultorio
      <option *ngFor="let Consultorio of consultorios" [value]="Consultorio.id_consultorio">
        {{ Consultorio.nombre_consultorio}} {{Consultorio.ubicacion}}
      </option>
      </select>
      </div> -->

      <!-- Selección de Hora -->
      <!-- <div>
        <label for="id_horario" class="block text-sm font-medium text-gray-700">Hora</label> -->
        <!-- <div class="mt-1">
          <input type="time" id="hora" name="hora"
            class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        </div> -->
        <!-- <select
      id="id_horario"
      formControlName="id_horario"
      class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
    >
      <option value="" disabled selected>Selecciona un horario
      <option *ngFor="let Horario of horarios" [value]="Horario.id_horario">
        {{ Horario.dia_semana}} {{Horario.hora}}
      </option>
      </select>
      </div> -->

      <!-- Campo: Motivo -->
      <!-- <div>
        <label for="motivo" class="block text-sm font-medium text-gray-700"> Motivo</label> -->
        <!-- <div class="mt-1">
          <input type="email" id="email" name="email" placeholder="Ingrese su correo"
            class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        </div> -->

        <!-- <textarea
        id="motivo"
        formControlName="motivo"
        class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        placeholder="Describe brevemente el motivo"
      ></textarea>
      </div> -->

      <!-- Campo: Correo -->
      <!-- <div>
        <label for="correo" class="block text-sm font-medium text-gray-700">Correo</label> -->
        <!-- <div class="mt-1">
          <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su teléfono"
            class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
        </div> -->

        <!-- <input
        type="email"
        id="correo"
        formControlName="correo"
        class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        placeholder="Correo electrónico"
      />
      </div> -->

      <!-- Botón de Agendar -->
      <!-- <div class="pt-4">
        <button type="submit"
          class="w-full bg-indigo-600 text-white py-3 rounded-lg shadow hover:bg-indigo-700 transition-all duration-300">
          Agendar Cita
        </button>
      </div>
    </form>
  </div> -->








































<!-- Formulario de Citas -->
<div class="h-screen flex justify-center items-center bg-gray-200">
  <div class="bg-white rounded-lg shadow-xl w-full max-w-3xl p-8 space-y-6">
    <!-- Encabezado -->
    <div class="text-center">
      <h1 class="text-2xl font-bold text-gray-800">Agendar una Cita</h1>
      <p class="text-sm text-gray-500">Programe su cita fácilmente con nuestros profesionales</p>
    </div>

    <!-- Formulario -->
    <form class="space-y-4" [formGroup]="citaForm" (ngSubmit)="saveCita()">
      <!-- Campo Nombre -->
      <div>
        <label for="nombre" class="block text-sm font-medium text-gray-700">Psicólogo</label>
        <select id="id_psicologo" formControlName="id_psicologo"
          class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
          <option value="" disabled selected>Selecciona un psicólogo</option>
          <option *ngFor="let psicologo of psicologos" [value]="psicologo.id_usuario">
            {{ psicologo.nombre }} <!-- Muestra el nombre del psicólogo -->
          </option>
        </select>

      </div>

      <!-- Campo: Alumno -->
      <div>
        <label for="id_alumno" class="block text-sm font-medium text-gray-700">Alumno</label>
        <input type="text" id="id_alumno" formControlName="id_alumno"
          class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="ID del Alumno" />
      </div>

      <!-- Selección de Consultorio -->
      <div>
        <label for="fecha" class="block text-sm font-medium text-gray-700">Consultorio</label>
        <select id="id_consultorio" formControlName="id_consultorio"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-opacity-50">
          <option value="" disabled selected>Selecciona un consultorio
          <option *ngFor="let Consultorio of consultorios" [value]="Consultorio.id_consultorio">
            {{ Consultorio.nombre_consultorio}} {{Consultorio.ubicacion}} <!-- Muestra el nombre del psicólogo -->
          </option>
        </select>
      </div>

      <!-- Selección de Hora -->
      <div>
        <label for="id_horario" class="block text-sm font-medium text-gray-700">Hora</label>
        <select id="id_horario" formControlName="id_horario"
          class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500">
          <option value="" disabled selected>Selecciona un horario
          <option *ngFor="let Horario of horarios" [value]="Horario.id_horario">
            {{ Horario.dia_semana}} {{Horario.hora}} <!-- Muestra el nombre del psicólogo -->
          </option>
        </select>
      </div>

      <!-- Campo: Motivo -->
      <div>
        <label for="motivo" class="block text-sm font-medium text-gray-700"> Motivo</label>
        <textarea id="motivo" formControlName="motivo"
          class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="Describe brevemente el motivo"></textarea>
      </div>

      <!-- Campo: Correo -->
      <div>
        <label for="correo" class="block text-sm font-medium text-gray-700">Correo</label>
        <input type="email" id="correo" formControlName="correo"
          class="w-full border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          placeholder="Correo electrónico" />
      </div>

      <!-- Botón de Agendar -->
      <div class="pt-4">
        <button type="submit"
          class="w-full bg-indigo-600 text-white py-3 rounded-lg shadow hover:bg-indigo-700 transition-all duration-300">
          Agendar Cita
        </button>
      </div>
    </form>
  </div>

</div>
