<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Psico-Aguilas</title>
    </head>
    <body>
        <main>
            <input type="text"[(ngModel)]="searchTerm" placeholder="Buscar videos">
            <button (click)="searchVideos()">Buscar</button>
            <div *ngFor="let video of videos">
                <h2>{{ video.snippet.title }}</h2>
                <p>{{ video.snippet.description }}</p>
                <div *ngIf="video.id.videoId">
                    <iframe [src]="getVideoUrl(video.id.videoId)" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </main>
        <script>
        </script>
    </body>
</html>